<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello,this is queue view</title>
</head>

<!--引入外部的样式文件-->

<!--<style>-->
<!--table, td  {-->
<!--border: 1px solid grey;-->
<!--border-collapse: collapse;-->
<!--padding: 5px;-->
<!--}-->
<!--</style>-->
<!--<link rel="stylesheet" href="queue_style.css" type="text/css">-->


<body>
<div style="margin-left: 20px">
    <h1>欢迎查看队列方案</h1>
    <h2>当前系统队列信息</h2>
    <div ng-app="myApp.queueview" ng-controller="QueueCtrl">
        <table>
            <thead>
            <tr style="text-align: center;font-weight: bold">
                <td>序号</td>
                <td>姓名</td>
                <td>订单号</td>
                <td>目前排名</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in data" style="text-align: center">
                <td style="{{$even? 'background-color: #f1f1f1': ''}}">{{$index+1}}</td>
                <td style="{{$even? 'background-color: #f1f1f1': ''}}">{{x.username}}</td>
                <td style="{{$even? 'background-color: #f1f1f1': ''}}">{{x.orderNo}}</td>
                <td style="{{$even? 'background-color: #f1f1f1': ''}}">{{x.currentSort}}</td>
                <td>
                    <button ng-click="moveup(x.id)">前置</button>
                    <button ng-click="movedown(x.id)">后置</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>


<!--引入外部的js文件-->
<script src="queueview.js"></script>


</html>